# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Data outputs
data/processed/
data/logs/

# Excel files
*.xlsx

# OS-specific files
.DS_Store
Thumbs.db

# Optional: IDE/editor settings
*.idea/
*.vscode/

# Optional .orig backup files
*.orig

# SQL queries
temp/

# Ignore old docs folder
docs/
